.card-pokemon {
  background-color: #757575;
  padding: 0.5vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card-pokemon:hover {
  transform: scale(1.05);
}

.card-pokemon .card-body {
  background-color: aliceblue;
  border-radius: 5px;
}

.pokemon_badge {
  background-color: #757575;
  opacity: 0.5;
}

.container#cards div#item-card,
.container#carregando,
.container#details {
  display: none;
  border-radius: 10px;
}

#pagina-vazia {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: #757575;
  opacity: 0.2;
}

/* CSS - DETALHES SOBRE POKEMON */
.pokemon-details,
.pokemon-details_hw,
.container {
  padding: calc(8px + 1.5625vw);
}

p {
  margin-bottom: 0;
}

.pokemon-details > header {
  display: flex;
  justify-content: space-between;
}

.pokemon-details .badge {
  background-color: rgba(255, 255, 255, 0.25);
}

#pokemon-details_intro h1 {
  text-transform: capitalize;
}

.card-infos {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

#pokemon-sobre-heigth_Width {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

#pokemon-sobre-heigth_Width span,
#pokemon-sobre-heigth_Width span:first-child {
  font-weight: 600;
}

#pokemon-sobre-heigth_Width span:first-child {
  opacity: 0.5;
}

#pokemon-sobre-heigth_Width button {
    width: 100%;
}

#pokemon-sobre > div {
    padding: 15px 0;
}

#pokemon-estatisticas span {
    font-weight: 600;
}

#pokemon-estatisticas > .row {
    margin-top: 10px;
}

.badge {
    cursor: pointer;
}

@media (min-width: 600px) {
  #pokemon-details_intro {
    display: flex;
    padding: calc(8px + 1.5625vw);
    justify-content: center;
    flex-direction: row-reverse;
  }

  #pokemon-details_intro > div {
    padding: 50px 20px;
  }
}
