.card-pokemon {
  background-color: #757575;
  padding: 0.5vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card-pokemon:hover {
  transform: scale(1.05);
}

.card-pokemon .card-body {
  background-color: aliceblue;
  border-radius: 5px;
}

.pokemon_badge {
  background-color: #757575;
  opacity: 0.5;
}

.container#cards div#item-card,
.container#carregando,
.container#details {
    display: none;
    border-radius: 10px;
}

#pagina-vazia {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: #757575;
    opacity: .2;
}

/* CSS - DETALHES SOBRE POKEMON */
.pokemon-details,
.pokemon-details_hw,
.container {
  padding: calc(8px + 1.5625vw);
}

p {
  margin-bottom: 0;
}

.pokemon-details > header {
  display: flex;
  justify-content: space-between;
}

.pokemon-details .badge {
  background-color: rgba(255, 255, 255, 0.25);
}

.pd_card {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-around;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.pd_card span {
  opacity: 0.4;
  font-size: 0.9em;
}

.pd_card p {
  font-weight: 600;
}

.pokemon-details_hw > h6 {
  margin-top: calc(8px + 1.5625vw);
}

.pd_listaHabilidade {
  list-style-type: none;
}

.pd_listaHabilidade i {
  color: green;
}

.pd_item_habilidade {
  display: flex;
}

.tab-pane > div {
  padding: calc(8px + 1.5625vw);
}

